<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxxt.gradems.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.yxxt.gradems.domain.Course">
    <id column="course_uid" jdbcType="VARCHAR" property="courseUid" />
    <result column="row_id" jdbcType="BIGINT" property="rowId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="credit" jdbcType="REAL" property="credit" />
    <result column="school_hour" jdbcType="REAL" property="schoolHour" />
    <result column="course_type" jdbcType="SMALLINT" property="courseType" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="term" jdbcType="INTEGER" property="term" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    course_uid, row_id, course_name, credit, school_hour, course_type, `year`, term
  </sql>
  <select id="selectByExample" parameterType="com.yxxt.gradems.domain.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where course_uid = #{courseUid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from course
    where course_uid = #{courseUid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yxxt.gradems.domain.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yxxt.gradems.domain.Course">
    insert into course (course_uid, row_id, course_name, 
      credit, school_hour, course_type, 
      `year`, term)
    values (#{courseUid,jdbcType=VARCHAR}, #{rowId,jdbcType=BIGINT}, #{courseName,jdbcType=VARCHAR}, 
      #{credit,jdbcType=REAL}, #{schoolHour,jdbcType=REAL}, #{courseType,jdbcType=SMALLINT}, 
      #{year,jdbcType=INTEGER}, #{term,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yxxt.gradems.domain.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseUid != null">
        course_uid,
      </if>
      <if test="rowId != null">
        row_id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="schoolHour != null">
        school_hour,
      </if>
      <if test="courseType != null">
        course_type,
      </if>
      <if test="year != null">
        `year`,
      </if>
      <if test="term != null">
        term,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseUid != null">
        #{courseUid,jdbcType=VARCHAR},
      </if>
      <if test="rowId != null">
        #{rowId,jdbcType=BIGINT},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=REAL},
      </if>
      <if test="schoolHour != null">
        #{schoolHour,jdbcType=REAL},
      </if>
      <if test="courseType != null">
        #{courseType,jdbcType=SMALLINT},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="term != null">
        #{term,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yxxt.gradems.domain.CourseExample" resultType="java.lang.Long">
    select count(*) from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
      <if test="record.courseUid != null">
        course_uid = #{record.courseUid,jdbcType=VARCHAR},
      </if>
      <if test="record.rowId != null">
        row_id = #{record.rowId,jdbcType=BIGINT},
      </if>
      <if test="record.courseName != null">
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.credit != null">
        credit = #{record.credit,jdbcType=REAL},
      </if>
      <if test="record.schoolHour != null">
        school_hour = #{record.schoolHour,jdbcType=REAL},
      </if>
      <if test="record.courseType != null">
        course_type = #{record.courseType,jdbcType=SMALLINT},
      </if>
      <if test="record.year != null">
        `year` = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.term != null">
        term = #{record.term,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course
    set course_uid = #{record.courseUid,jdbcType=VARCHAR},
      row_id = #{record.rowId,jdbcType=BIGINT},
      course_name = #{record.courseName,jdbcType=VARCHAR},
      credit = #{record.credit,jdbcType=REAL},
      school_hour = #{record.schoolHour,jdbcType=REAL},
      course_type = #{record.courseType,jdbcType=SMALLINT},
      `year` = #{record.year,jdbcType=INTEGER},
      term = #{record.term,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxxt.gradems.domain.Course">
    update course
    <set>
      <if test="rowId != null">
        row_id = #{rowId,jdbcType=BIGINT},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=REAL},
      </if>
      <if test="schoolHour != null">
        school_hour = #{schoolHour,jdbcType=REAL},
      </if>
      <if test="courseType != null">
        course_type = #{courseType,jdbcType=SMALLINT},
      </if>
      <if test="year != null">
        `year` = #{year,jdbcType=INTEGER},
      </if>
      <if test="term != null">
        term = #{term,jdbcType=INTEGER},
      </if>
    </set>
    where course_uid = #{courseUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxxt.gradems.domain.Course">
    update course
    set row_id = #{rowId,jdbcType=BIGINT},
      course_name = #{courseName,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=REAL},
      school_hour = #{schoolHour,jdbcType=REAL},
      course_type = #{courseType,jdbcType=SMALLINT},
      `year` = #{year,jdbcType=INTEGER},
      term = #{term,jdbcType=INTEGER}
    where course_uid = #{courseUid,jdbcType=VARCHAR}
  </update>
</mapper>